@page
@model SPID_Middleware_Client.Pages.authstatusModel
@{
    //<div>@ViewData["Resp"]</div>
    //<h3>@Model.msgToDisp</h3>
    <div>Status: <span>@Model.ReqStatus</span></div>
    <div>JSON Response Data: <pre>@Model.ResJSON</pre>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <div>SAML Response: <pre>@Model.SAMLResp</pre></div>
}
